<h1>It works!</h1>
The Saloon is developed as a rapid development tool for Erlang/Cowboy web-applications.<br />
Templates are powered with Mustache.<br />
If you have some time to spare — fork Saloon at github, or help make Erlang Mustache port be more neat.<br />
Good luck and have fun!<br />
